/* Setup GOST */

.divGostBlock{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:flex-end;
    position: absolute;
    width: 100%;
}
.btnBlock{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
}
.bgElemActive{
    position: relative;
    background-color:#a8a8a8;
    height: auto;
    border-radius: 10px;
    z-index: 1;
    padding: 20px;
}

.btnGost {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    background: #eee;
    padding:0px 14px;
    margin: 0px 20px 18px 0;
    color:#828282;
    font-size:12px;
    border-radius: 10px;
    cursor: pointer;
    border: solid #A8A8A8 1px;
}
span.documentName {
    color:rgb(63, 56, 56);
    font-size:16px;
    font-weight: 500;
    padding: 0px 12px;
    width: 100%;
    
}
.btnGost:hover{
    color:#fff;
    background-color:#919191;
}

.hidden{
    display: none;
    opacity: 0;
}
.visibleFlex{
    opacity: 1;
    width: auto;
    height: auto;
}
.icon {
    margin: 0 6px;
}
.textBtn {
    font-weight: 200;
    font-size:16px;
}