.inputHeight {
    margin-bottom: 86px;
    margin-right: 374px;
}

.inputWidth{
    margin-top: 270px;
    margin-left: 218px;
}

.inputThickness {
    margin-bottom: 108px;
    margin-left: 274px;
}

.inputLength{
    margin-bottom: 260px;
    margin-left: 274px;
}

.svg {
    display: absolute;
}
  
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}