.inputLength {
    margin-bottom: 86px;
    margin-right: 374px;
}

.inputWidth {
    margin-top: 270px;
    margin-left: 218px;
}

.inputThickness {
    margin-bottom: 240px;
    margin-right: 374px;
}

.svg {
    display: absolute;
    margin-right:40px;
}

  
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}